#carCont{
    display: flex; width: 100vw; overflow-x: scroll; justify-content: space-evenly; align-content: center; position: relative;
}

#carCont::-webkit-scrollbar{
    display: none;
}

.noScroll::-webkit-scrollbar{
    display: none;
    
}
.singlePage{
    min-width: 33.3vw;
    min-height: 40vw;
    position: relative;
    z-index: 1;
    display: grid;
    align-items: center;
    transition: 500ms ease;
    
}
.expand{
    transform: scale(1.5);
    position: relative;
    z-index: 3;
    transition: 1s ease-in-out;
    box-shadow: 10vw 15px rgba(0, 0, 0, 0.3), -10vw 15px rgba(0, 0, 0, 0.3) ;
}




/*Mobile*/
@media screen and (max-width:600px){

}

/*Tablets*/
@media screen and (min-width : 601px) and (max-width : 1200px){

}

/*Desktop*/
@media screen and (min-width:1201px){

}