{% extends 'base/base.html' %}
{% load static %}
{% block content %}
<!--Link css script for the page only-->
<link rel="stylesheet" href="{% static 'css/designs.css' %}">

<!--Link js script for this page only-->
<script src="{% static 'js/designs.js' %}">

</script>

<!--This is the main div of the page-->
<div id="main">
    <!--Page heder, centers div. noScroll class removes the scroll bar added by bootstarp-->
    <h1 style="text-align: center;" class="noScroll">
        My Echos
    </h1>
    <!--Text telling what page is abount-->
    <p style="text-align: center;">
        Scroll left or right to see more.
    </p>
    <p style="text-align: center;">
        CLICK TO VIEW
    </p>
    <!--Lazy spacing-->
    <br> <br> <br>

    <!--Main div-->
    <div id="containDiv" class="hideY">
        <!--Hold courosel, is invisible onload, shows up only when all resouces are loaded-->
        <div
            id="carCont" class="hideY">
            <!--Create 2 copies of images-->
            {% for page in pages %}
            <div class="singlePage" class="hideY">
                <a href="{% url 'designs:project' page.page.project %}">
                    <img src="{{page.page.screenshotLaptop.url}}" style="min-width: 33vw; max-width: 33vw;" />
                </a>
            </div>
            {% endfor %}
            <!--Secind copy-->
            {% for page in pages %}
            <div class="singlePage">
                <a href="{% url 'designs:project' page.page.project %}">
                    <img src="{{page.page.screenshotLaptop.url}}" style="min-width: 33vw; max-width: 33vw;" />
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}